ul li {
    display: inline-block;
    background: rgba(176, 79, 176, 0.7);
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: #8b008b;
}
ul{
    margin-right: 50px;
    margin-top: 30px;
    float: right;
    margin-bottom: 5px;
}
body {
    background-image: url("spacey.jpg");
    font-family: "Verdana", "Geneva", sans-serif; 
}
a {
    color: #001a33;
    font-weight: bold;
}
img {
    height: 350px;
    width: 500px;
    display: inline-block;
    padding-bottom: 25px;
    float: left;
}
div.moo {
    text-align: center;
    padding: 10px;
    width: 100%;
    float:left;
    display: inline-block;
    margin-top: 100px;
}
div.test1 {
    background-image: url(mercury.png);
    color: black;
    display: inline-block;
    float:left;
    background-size: cover;
    margin: 20px;
}
div.test2 {
    background-image: url(venus.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.test3 {
    background-image: url(earth.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.test4 {
    background-image: url(mars.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.test5 {
    background-image: url(jupiter.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.test6 {
    background-image: url(saturn.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
}
div.test7 {
    background-image: url(uranus.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.test8 {
    background-image: url(neptune.png);
    color: black;
    display: inline-block;
    float: left;
    background-size: cover;
    margin: 20px;
}
div.woof {
    display: inline-block;
    border: 3px solid black;
    background: rgba(0, 26, 51, 0.5);
    float: left;
    width: 73%;
    height: 250px;
    margin-left: 15px;
    padding: 8px;
}
p {
    color: #e6e6e6;
    font-size: 18px;
    text-align: justify;
}
table {
    width: 95%;
    border-collapse: collapse;
    background-color: rgba(0, 119, 230, 0.3);
    margin: auto;
    height: 90%
}
table, td, th {
    border: 1px solid white;
    color:#e6e6e6; 
}
td {
    text-align: center;
}
img {
    width: 263px;
    height: 272px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
textarea {
    resize: none;
    height: 150px;
    width: 45%;
    font-family: "Verdana", "Geneva", sans-serif; 
    font-size: 18px;
    background-color: rgba(0, 26, 51, 0.6);
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    float: left;
    border: 1px solid black;
    color: white;
}
div.oink {
    height: 110px;
    width: 110px;
    text-shadow: 2px 2px 5px white;
    font-size: 24px;
    font-weight: 500;
}
div.quack {
    height: 110px;
    width: 266.2px;
    text-shadow: 2px 2px 5px white;
    font-size: 24px;
    font-weight: 500;
}
h1, h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #cb8ccb;
}
div.combination {
    width: 100%;
    padding: 5px;
}
div.table {
    display: inline-block;
    width: 45%;
    border: 1px solid black;
    background: rgba(0, 26, 51, 0.5);
    padding-bottom: 10px;
    float: right;
    margin-right: 25px;
}